*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.cards{
    width: 1117px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    gap: 39px;
    margin-top: 62px;
}

.card{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 33px 26px 27px 27px;
    border: 1px solid #00000008;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 20px 20px 50px 0px #00000008;

}
.card h2{
 font-family: "Hind Madurai", sans-serif;
 font-weight: 600;
 font-size: 20px;
 margin-bottom: 9px;
}
.card p {
 font-family: "Hind Madurai", sans-serif;
 font-weight: 400;
 font-size: 14px;
 opacity: 60%;
 text-align: center;
}
.card img{
   width: 44px;
   height: 44px;
  margin-bottom: 25px; 
}