header {
    background-color: #F2CEDA;
    padding-top: 10px;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        font-family: "Roboto", sans-serif;
    }

    .container {
        max-width: 1125px;
        width: 100%;
        margin: 0 auto;
        padding: 15px 0;
        // border-left: 1px solid black;
        // border-right: 1px solid black;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 25px;

        ul {

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            a {
                color: #150101;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                transition: all 0.5s;

                &:hover {
                    color: #D23166;
                }

            }
        }

        button {
            width: 165px;
            height: 49px;
            // padding: 14px 50px;
            background-color: #D23166;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }

    .showcase {
        margin-top: 40px;

        .qwe {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-bottom: 140px;
            .left {
                width: 665px;
                position: absolute;
                h4 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 10%;
                    color: #0F0101;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                    margin-bottom: 6px;
                }
    
                h1 {
                    font-weight: 400;
                    font-size: 57.33px;
                    line-height: 121%;
                    letter-spacing: 0%;
                    color: #0F0101;
                    margin-bottom: 35px;
                    font-family: 'Fredoka', sans-serif;
                }
    
                span {
                    font-weight: 400;
                    font-size: 57.33px;
                    line-height: 121%;
                    letter-spacing: 0%;
                    color: #D23166;
                    font-family: 'Fredoka', sans-serif;
                }
    
                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    letter-spacing: 0%;
                    color: #0F0101;
                    margin-bottom: 50px;
                }
    
                button {
                    width: 165px;
                    height: 49px;
                    // padding: 14px 50px;
                    background-color: #D23166;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }
            }
    
    
            .right {
                // transform: translate(116px);
                position: relative;
                left: 644px;

    
                .asd {
                    width: 597px;
                    height: 597px;
                }
    
                .zxc {
                    width: 852px;
                    height: 548px;
                    transform: rotate(15deg) translate(70px);
                    position: absolute;
                    right: 1px;
                    top: 130px;
                }
            }
        }

    }
}