*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
       font-family: "Roboto", sans-serif;
}


.container{
      max-width: 1160px;
      margin: 0 auto;
}

.text{
      text-align: center;
}

.ice-list{
      display: flex;
      justify-content: center;
      padding-top: 64px;
      gap: 39px;
    
}


.ice-link{
      color: #00000098;
      font-size: 18px;
      font-weight: 500;
      transition: all ease-in-out 0.3s; 
    
}
.ice-link:hover{
      color: #000000;
      border-bottom: 1px solid #D64374 ;
}




.icecream{
      padding-top: 98px;
      height: 2346px;   
}

.ice-2{
      display: flex;
      width:  1119px;
      justify-content: space-between;
      align-items: center;
}

.ice.img{
      width: 580px;
      height: 415px;
}

.ice2.righ{
      max-width: 454px  ;
}

.ice2_para{
      width: 454px;
}